extends layout

block content
    h1.display-1 vCard PDRDEV

    ul
        li
            a(href='/login') Login
        li
            a(href='/users/create') Create User
        li
            a(href='/users') Users list